* {
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: 0px;
    padding: 0px;
}   
    .img-googleplay {
        width:200px;
        height:100px;
        backroung-image: url(play.png);
        backround-size: 50%
        background-repeat: no-repeat;
    }


.background {
    width: 100%;
    height: 100vh;
    background-image: url(pizza1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}